.sign-in-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 0 5rem;
}

.sign-in-subtitle {
  margin-top: 0;
  font-weight: normal;
}

.sign-up-subtitle {
  margin-top: 0;
  font-weight: normal;
}

.sign-in-input {
  margin: 1rem 0rem;
  max-width: 10rem;
  width: 100%;
  width: 50%;
  font-size: 1rem;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.sign-in-buttons {
  display: flex;
  width: 60%;
  margin: 1rem 0;
  justify-content: space-between;
  gap: 1rem;

  button {
    width: 100%;
  }
}

.sign-up-input {
  margin: 1rem 0rem;
  max-width: 10rem;
  width: 100%;
  width: 50%;
  font-size: 1rem;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.sign-up-button {
  width: 60%;
  margin: 1rem 0;
}
