.cart-dropdown-container {
  position: absolute;
  width: 10rem;
  right: 0;
  margin: 1rem 0rem;
  padding: 1rem;
  z-index: 1;
  border: 1px solid black;
  background-color: white;
}

.cart-items {
  max-height: 10rem;
  overflow-y: auto;
  margin-bottom: 0.5rem;
}

.cart-go-to-checkout {
  width: max-content;
}
