.header-wrapper {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: black;
  }

  .header-logo {
    font-weight: normal;
  }
}

.header-navigation {
  display: flex;

  a {
    text-decoration: none;
    color: black;
  }

  .navigation-item {
    padding: 1rem;
    font-weight: normal;
  }

  .shop-bag {
    display: flex;
    align-items: center;
  }

  .navigation-item:after {
    display: block;
    content: "";
    border-bottom: solid 1px black;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: 0%;
  }

  .navigation-item:hover:after {
    transform: scaleX(1);
  }
}

.shop-bag-wrapper {
  position: relative;
  cursor: pointer;

  .shop-bag-number {
    position: absolute;
    font-family: "Times New Roman", Times, serif;
    top: 0;
    right: -0.2rem;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    color: white;
    background-color: teal;
    border-radius: 50%;
    text-align: center;
  }
}
