.sign-up-subtitle {
  margin-top: 0;
  font-weight: normal;
}

.sign-up-input {
  margin: 1rem 0rem;
  max-width: 10rem;
  width: 100%;
  width: 50%;
  font-size: 1rem;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.sign-up-button {
  width: 60%;
  margin: 1rem 0;
}
