.checkout-wrapper {
  text-align: center;
}

.checkout-header {
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid black;
  margin: 1.5rem 0rem;
}

.total-price-wrapper {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.total-price {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}
